# Redirects for specific pages
Redirect temp /gril https://www.facebook.com/events/289367685351792/
Redirect temp /prihlaska https://forms.gle/89D5aMpFVgVYETvg9
Redirect temp /contact https://zverinec.fi.muni.cz/#kontakty

ErrorDocument 404 /404.html
