.header { margin: 20px 0 30px 0; font-family: amaticbold, Arial, Helvetica, sans-serif; }
.header a:hover { text-decoration: none; }

.header-logo { display: block; }
.header-logo img { max-height: 200px; max-width: 400px; width: 100%; }
.header-title { font-size: 360%; }

.header-menu>a { font-size: 250%; margin: 0 5px 0 5px; }
.header-menu>a:before, .header-menu>a.active:before { content: "\2022\0020"; font-size: 80%; opacity: 0; }
.header-menu>a:after, .header-menu>a.active:after { content: "\0020\2022"; font-size: 80%; opacity: 0; }
.header-menu>a:hover:before, .header-menu>a.active:before { opacity: 1; }
.header-menu>a:hover:after, .header-menu>a.active:after { opacity: 1; }

.header-hr { height: 2px; max-width: 450px; width: 90%; margin: 15px auto 15px auto; background-color: rgba(42,42,42,0.6); border: none; }
